  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <strong><a class="navbar-brand" href="/"><%= title %></a></strong>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="nav navbar-nav navbar-right">
            <a class="navbar-brand" data-toggle="modal" href="#"  data-target="#signUpModal">Sign-Up</a>
  	  	<a class="navbar-brand" data-toggle="modal" href="#"  data-target="#signInModal">Sign-In</a>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- Modal -->
  <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Welcome to Momentum</h4>
          <h6 class="modal-title" id="myModalLabel2">Please enter your information below</h6>
        </div>
          <form id="signupForm" action="/<%=name%>/dash" method="POST">
        <div class="modal-body">
              <label>Name</label>
              <input id="name" class="form-control" type="name" name="name" placeholder="Name" autocomplete="off" required>

              <label>Company</label>
              <input id="company" class="form-control" type="text" name="company" placeholder="Company" autocomplete="off">

              <label>Email</label>
              <input id="email" class="form-control" type="email" name="email" placeholder="Email" autocomplete="off" required>             

               <label>Phone</label>
              <input id="phone" class="form-control" type="number" name="phone" placeholder="2124567890" autocomplete="off"  required>

              <label>Address</label>
              <textarea id="address" class="form-control" type="text" name="address" placeholder = "123 Drury lane apt 2 Newark, CA 94560"  autocomplete="off" required></textarea>

              <label>Password</label>
              <input id="password" class="form-control" type="password" name="password" autocomplete="off" placeholder="Password"  required>

              <label>Password Confirmation</label>
              <input id="pwConfirm" class="form-control" type="password" name="pwConfirm" autocomplete="off" placeholder="Password confirm" required>   
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input id="signUpSubmitBtn" class="btn btn-primary" type="submit" value="Submit">
        </div>
          </form> 
      </div>
    </div>
  </div> 


   <!-- Modal -->
  <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Welcome to Momentum</h4>
          <h6 class="modal-title" id="myModalLabel2">Please Sign-in below</h6>
        </div>
	        <form id="signupForm" action="/<%=name%>/dash?_method=put" method="POST">
		    <div class="modal-body">
    		          <label>Email</label>
    		          <input id="email" class="form-control" type="email" name="email" placeholder="Email" autocomplete="off" required>		         
    		          <label>Password</label>
    		          <input id="password" class="form-control" type="password" name="password"  autocomplete="off"placeholder="Password" required>
		    </div>
		    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <input id="signInSubmitBtn" class="btn btn-primary" type="submit" value="Submit">
		    </div>
	        </form> 
      </div>
    </div>
  </div>