  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><%= title %></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="nav navbar-nav navbar-right">
            <a class="navbar-brand" data-toggle="modal" href="#"  data-target="#signUpModal">Sign-Up</a>
        <a class="navbar-brand" data-toggle="modal" href="#"  data-target="#signInModal">Sign-In</a>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- Modal -->
  <div class="modal show" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Welcome to Momentum</h4>
          <h6 class="modal-title" id="myModalLabel2">Please enter your information below</h6>
        </div>
	        <form id="signupForm" action="/dash/<%=name%>" method="POST">
		    <div class="modal-body">
		          <label>Name</label>
		          <input id="name" class="form-control" type="name" name="name" placeholder="Name" required>

		          <label>Company</label>
		          <input id="company" class="form-control" type="text" name="company" placeholder="Company">

		          <label>Email</label>
		          <input id="email" class="form-control" type="email" name="email" placeholder="Email" required>		         

		           <label>Phone</label>
		          <input id="phone" class="form-control" type="number" name="phone" placeholder="212-456-7890" required>

		          <label>Address</label>
                      <textarea id="address" class="form-control" type="text" name="address" placeholder = "123 Drury lane apt 2 Newark, CA 94560" required></textarea>

                      <div class="form-group has-error">
		          <label for="inputError1">Password</label>
		          <input id="inputError1" class="form-control" type="password" name="password" placeholder="Password" required>
                      <p id="passMatchErrMsg">Passwords do not match</p>

		          <label for="inputError1" >Password Confirmation</label>
		          <input id="inputError1" class="form-control" type="password" name="pwConfirm" placeholder="Password confirm" required>   
                      <p id="passMatchErrMsg">Passwords do not match</p>
                      </div>

		    </div>
		    <div class="modal-footer">
		      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      <input id="updateSubmitBtn" class="btn btn-primary" type="submit" value="Submit">
		    </div>
	        </form> 
      </div>
    </div>
  </div>