body {		
  background: center url('../images/Momentum.jpg');	
  background-size: 98%;
  padding: 10%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form{	
	margin-left: 35%;
	margin-bottom: 10%;
	background: rgba(0,0,0,.4);
}

label{
	color: #ffffff;
}

#passMatchErrMsg, #emailCopyErrMsg, #passLengthErrMsg, #siginPassErrMsg{
	color:red;
}

.nav-pills{
	margin-top: 5px;
}

.dropdown a{
	color: grey;
}

#return{
	float: right;
}

#gem{
	float:right;
}

.ui-menu-item{
	list-style: none;
	background: #ffffff;
	width: 23em;
	height: 2em;
	text-align: left; 
}

.return{
	float: left;
	display: block;
	background: rgba(0,0,0,.4);
	padding-right: 1em; 
}

.return1{
	
	margin-bottom: 21%;	
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 5%;
	padding-left: 25%;
	background-color: white;

	border-bottom-right-radius: 5px; 
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.return2{
	margin-bottom: 21%;	
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 5%;
	padding-left: 25%;
	background-color: white;

	border-bottom-right-radius: 5px; 
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.return3{
	margin-bottom: 13%;	
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 5%;
	padding-left: 25%;
	background-color: white;

	border-bottom-right-radius: 5px; 
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.text-center{
	margin-top: 55%;
	bottom: 0;
	clear:both;
}

.portStorage{
	display:block;
}

#stockSubmitBtn{
	margin-top: 5%;
	display:inline;
	margin-left: 38%;
}

#saveBtn{
	margin-top: 5%;
	display:inline;
	margin-left: 40%;
}

#updateSubmitBtn, #deleteAccount{
	margin-top: 5%;
	display: block;
}

 #signInSubmitBtn, #signUpSubmitBtn{
 	display: inline;
 }

.timePeriod{
	margin-top: 5%;
}

#deleteAccount{
	margin-bottom: 10%;
	clear:both;
}

