<!DOCTYPE html>
<html>

  <head>
            <% include ../partials/head %>
  </head>

  <body>
            <% include ../partials/settingsBody %>
             
  <footer>
            <% include ../partials/footer %>
  </footer>

  </body>  

</html>