<!DOCTYPE html>
<html>

  <head>
            <% include ../partials/head %>
  </head>

  <body>
            <% include ../partials/formBody %>

  <footer>
            <% include ../partials/footer %>
  </footer>
  
  </body>  

</html>